
/* ------ BASIC INFORMATION ------ */

main {
  margin-left: 140px;
  margin-right: 140px;
}

h2 {
font-family: montserrat, sans-serif;
font-weight: 600;
font-style: normal;
}

h1, h3, h4, li {
font-family: montserrat, sans-serif;
font-weight: 700;
font-style: normal;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

p {
font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 500;
font-style: normal;
}

main {
margin-left: 36px;
margin-right: 36px;
}

section {
position: relative;
}

body {
  background-color: #FBFAFD;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
}

span {
  display: block;
  width: 2em;
  height: .2em;
  background-color: black;
  margin-top: .4em;
}

header li {
  list-style-type: none;
  font-size: 12px;
}

header .hitmeup {
  color: #2030EF;
  text-align: right;
}

.brand {
  padding-left: 2em;
}

.navbarDesktop {
  display: none;
}



@media screen and (min-width: 768px) {
  .navbarMobile {
    display: none;
  }

  .navbarDesktop {
    display: flex;
  }

  header ul {
    justify-content: space-between;
  }

  main, .navbarDesktop {
  margin-left: 140px;
  margin-right: 140px;
  }
}

.introduction {
  margin-top: 10em;
}
